<h2>Nome fantasia: <%= @carrier.trade_name %> </h2>
<h3>Razão social: <%= @carrier.corporate_name %> </h3>
<h3>Domínio do e-mail: <%= @carrier.domain %> </h3>
<h3>Razão social: <%= @carrier.corporate_name %> </h3>
<h3>CNPJ: <%= @carrier.nif %> </h3>
<h3>Endereço: <%= @carrier.address %> </h3>
<h3>Cidade: <%= @carrier.city %> </h3>
<h3>Estado: <%= @carrier.state %> </h3>

<% if admin_signed_in? %>
  <%= link_to 'Editar', edit_carrier_path(@carrier.id) %>
<% end %>
