<h1>Sistema de Logística de Ecommerce</h1>
<h4><%= I18n.localize(Date.today) %></h4>

<% if admin_signed_in? %>
  <%= render 'admin' %>
<% elsif user_signed_in? %>
  <%= render 'user' %>
<% else %>
  <nav class="track_search">
    <%= form_with(url: search_orders_path, method: :get, remote: false) do |f| %>
      <%= f.label :code, "Rastreamento de Entrega: insira o código do pedido" %>
      <%= f.text_field :code %>
      <%= f.submit 'Enviar' %>
    <% end %>
  </nav>
<% end %>






