<%= form_with(model: @volume) do |form| %>
    <div>
	  <%= form.label :name %>
	  <%= form.text_field :name %>
	</div>
	<div>
	  <%= form.label :min %>
	  <%= form.text_field :min %>
	</div>
	<div>
	  <%= form.label :max %>
	  <%= form.text_field :max %>
	</div>
	<div>
	  <%= form.submit 'Enviar' %>
	</div>
<% end %>