<%= form_with(model: @order) do |form| %>
    <div>
      <%= form.label :volume %>
      <%= form.text_field :volume %>
    </div>
    <div>
	  <%= form.label :product_weight, "Peso do produto (em kg)" %>
	  <%= form.number_field :product_weight %>
	</div>
	<div>
	  <%= form.label :delivery_address %>
	  <%= form.text_field :delivery_address %>
	</div>
	<div>
	  <%= form.label :recipient_name %>
	  <%= form.text_field :recipient_name %>
	</div>
	<div>
	  <%= form.label :product_sku %>
	  <%= form.text_field :product_sku %>
	</div>
	<div>
	  <%= form.label :product_address %>
	  <%= form.text_field :product_address %>
	</div>
	<div>
	  <%= form.label :distance %>
	  <%= form.number_field :distance %>
	</div>
	<div>
	  <%= form.label :carrier_id, "Transportadora" %>
	  <%= form.collection_select :carrier_id, Carrier.active, :id, :trade_name %>
	</div>
	<div>
	  <%= form.submit 'Enviar' %>
	</div>
<% end %>