<h3>Detalhes do Pedido</h3>

<ul>
  <li>Volume: <%= @order.volume %>m³</li>
  <li>Peso do produto: <%= @order.product_weight %>kg</li>
  <li>Endereço de entrega: <%= @order.delivery_address %></li>
  <li>Nome do destinatário: <%= @order.recipient_name %></li>
  <li>Status: <%= I18n.translate(@order.status) %></li>
  <li>Código para rastreio: <%= @order.code %></li>
  <% if @order.vehicle_id != nil %>
    <li>Veículo: <%= @vehicle.model %></li>
  <% else %>
    <li>Veículo: <%= @vehicle %> </li>
  <% end %>
  <li><%= link_to "Atualização de coordenadas", infolog_path(@order.infolog_id) %></li>
</ul>

<% if user_signed_in? %>
  <% if @order.pending_acceptance? %>
    <%= link_to 'Clique aqui para designar um veículo antes de aceitar o pedido', edit_order_path(@order.id) %>
    <%= button_to 'Aceitar pedido', accept_order_path, { method: 'patch' } %>
    <%= button_to 'Recusar pedido', refuse_order_path, { method: 'patch' } %>    
  <% elsif @order.accepted? %>
    <%= button_to 'Finalizar pedido', finalize_order_path, { method: 'patch' } %>
    <%= link_to 'Adicionar atualização de rota', edit_infolog_path(@order.infolog_id) %>
  <% end %>
<% end %>

