<h1>Listagem de preços</h1>

<% if @prices.empty? %>
  <p> Não existem preços cadastrados. </p>
<% else %>
  <% @prices.each do |p| %>
    <p>Preço: R$<%= p.value %> por KM | Volume: <%= Volume.find(p.volume_id).name %> | Peso: <%= Weight.find(p.weight_id).name %>KG</p> <br/>
  <% end %>
<% end %>

<%= link_to 'Adicionar intervalo de volume', new_volume_path %> <br/>
<%= link_to 'Adicionar intervalo de peso', new_weight_path %> <br/>
<%= link_to 'Adicionar taxa', new_price_path %>